<div class="tw-h-screen tw-flex">
    <div class="container p-[50px] tw-m-auto">
        <div class="tw-text-center w-[200px]">
            <div class="tw-text-center">
                <a routerLink="/">
                    <img src="http://localhost:4200/assets/img/logo.png" class="tw-w-[150px] tw-inline-block" alt="" />
                </a>
            </div>
            <img src="https://i.imgur.com/uHDkxZV.png" class="tw-w-[460px] tw-inline-block tw-my-2" alt="" />
        </div>
        <div class="tw-text-center">
            <span class="tw-text-lg tw-my-2 tw-mx-0 tw-block">Chúng tôi không thể tìm thấy trang này!</span>
            <button class="btn-back">
                <a routerLink="/" class="hover:tw-text-white">Trang chủ</a>
            </button>
        </div>
    </div>
</div>