.btn-back {
    overflow: hidden;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: hsl(236, 32%, 26%);
}

.btn-back::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    border-radius: 5px;
    background-color: #fc2f70;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.btn-back:hover {
    cursor: pointer;
}

.btn-back:hover::before {
    border-radius: 5px;
    transform-origin: center left;
    transform: scaleX(1);
}